<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Components</title>
</head>
<body>
<h1>Components</h1>
<ul>
    <li>With react we describe the UI using components</li>
    <li>Components are like JavaScript functions</li>
    <li>Components are like functions that return HTML elements</li>
    <li>Components are independent and reusable bits of code.</li>
    <li>Components work in isolation and returns HTML via render</li>
    <li>A component takes in parameters called props(short for properties) and returns a hierarchy of views to display
        via
        the render method
    </li>
    <li>The render method takes the description and displays the result</li>
    <li>render returns a react element which is a light weight description of what to render</li>
    <li>most React developers use JSX which makes these structures easier to write</li>
    <li>A component can maintain internal state data (accessed via this.state)</li>
    <li>When a components state data changes, the rendered markup will be updated by revoking render()</li>
    <li>We use components to tell React what we want on our screen</li>
    <li>When our data changes, React will efficiently update and re-render out components</li>
    <li>Components receive certain input objects and they output description of a user interface</li>
    <li>We can reuse a single component in multiple user interfaces</li>
    <li>Components can contain other components</li>
    <li>You just use a component in your HTML just like it was a normal HTML element</li>
    <li>React components can hold a private state to hold any data that may change over the lifecycle of the component
        to hold any data that may change over the lifecycle of the component
    </li>
    <li>A react component can be one of two types
        <ul>
            <li>Function Component</li>
            <li>Class Component</li>
        </ul>
    </li>
    <li>Both types of components can be compared to regular functions when it comes to their contract
        <ul>
            <li>Both use a set of props and state as their input, and they output what looks like html, but what is
                really output is
                a javaScript syntax called jsx
            </li>
            <li>The props input is an explicit one, it is similar to the list of attributes an HTML element has</li>
            <li>The state input is an internal one, and auto reflects the changes in the browser</li>
            <li>The two input objects have a difference: within a component the state object can be changed while the
                props object represents fixed values
            </li>
            <li>Props are immutable</li>
            <li>Components can change their internal state, not there properties</li>
        </ul>
    </li>
    <li>to remember things components use state</li>
    <li>React components can have a state by setting this.state om their constructors</li>
    <li>This state should be considered as private to a React component that it's defined in</li>


</ul>
<h1>Class components</h1>
<ul>
    <li>When writing a React component, the component's name must start with an upper case letter</li>
    <li>The component need to include the <code>extends React.Component statement which statement creates an
        inheritances to React.Component and give you the access to its functions</code></li>
    <li>The component requires a render() method that returns the HTML</li>
</ul>
<h1>Function component</h1>
<ul>
    <li>A function component returns HTML, and behaves much the same way as a class component</li>
    <li>Class components has some additions</li>
</ul>
<h1>Component Constructor</h1>
<ul>
    <li>If there is a constructor function in your component, this function will be called when the component get
        initiated
    </li>
    <li>The constructor function is where you initiate the components properties</li>
    <li>In React, component properties should be kept in an object called state</li>
    <li>The constructor function is also where you honor the inheritance of the parent component by including the
        super() statement, which executes the parent components constructor function, and your component has access to
        all the functions of the parent component (React.Component)
    </li>
</ul>
<h1>Components in Components</h1>
<ul>
    <li>We can refer to components inside other components</li>
</ul>
<h1>Components in files</h1>
<ul>
    <li>React is all about re-using code, and it can be smart to insert some of the components in separate files</li>
    <li>The file must start by importing React(as before), and it has to end with the statement export default [variable
        to return]
    </li>
    <li>To be able to use the component from another file you will need to import it into the class</li>
</ul>

</body>
</html>