<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Props</title>
</head>
<body>
<h1>Props</h1>
<ul>
    <li>Props are arguments passed into React components</li>
    <li>Props are passed to components via HTML attributes</li>
    <li>React Props are like function arguments in JavaScript and attributes in HTML</li>
    <li>To send props into a component, use the same syntax as HTML attributes</li>
    <li>The component receives the argument as a props object</li>
    <li>Another way of handling components properties is by using props</li>
    <li>Props are also how you pass data from one component to another, as parameters</li>
    <li>If you have a variable to send and not a string you just put the variable name inside the curly brackets</li>
    <li>Props are like function arguments and you send them into components as attributes</li>
    <li>React props are read only you will get an error if you try to change their value</li>
    <li>If your component has a constructor function, the props should always be passed to the constructor and also to
        the React.Component via the super() method
    </li>
</ul>
</body>
</html>